:root {
  --pulis-color-white: #ffffff;
  --pulis-color-black: #0a0a0a;
  --pulis-color-blue: #274c77;
  --pulis-color-grey: #e7ecef;
  --pulis-color-grey-light: #707070;
  --pulis-color-pink: #E6427E;
  --pulis-color-magenta: #782761;
  --transition: all ease-in .3s;
  --pulis-color-tiny-blue: #6096ba;
  --pulis-color-orange: #ea9010;
  --pulis-color-orange-light: #EF980E;
  --bs-body-bg: var(--pulis-color-white);
  --pulis-font-family-roboto: Roboto;
  --pulis-font-style-normal: normal;
  --pulis-font-weight-600: 600;
  --pulis-font-weight-900: 900;
  --pulis-font-size-54: 54px;
  --pulis-character-spacing-0: 0px;
  --pulis-line-spacing-72: 72px


  --pulis-color-wheat: #f5deb3;

  --bs-nav-link-color: --color-white;
  --pulis-block-spacing-vertical: 1rem;
  --pulis-block-spacing-horizontal: 1rem;
  --pulis-card-background-color: #181c25;
  --pulis-border-radius: 8px;
  --pulis-box-shadow: 0.0145rem 0.029rem 0.174rem rgba(7, 9, 12, 0.01698), 0.0335rem 0.067rem 0.402rem rgba(7, 9, 12, 0.024), 0.0625rem 0.125rem 0.75rem rgba(7, 9, 12, 0.03), 0.1125rem 0.225rem 1.35rem rgba(7, 9, 12, 0.036), 0.2085rem 0.417rem 2.502rem rgba(7, 9, 12, 0.04302), 0.5rem 1rem 6rem rgba(7, 9, 12, 0.06), 0 0 0 0.0625rem rgba(7, 9, 12, 0.015);
  --pulis-card-box-shadow: var(--pulis-box-shadow);
  --pulis-typography-spacing-vertical: 1rem;
  
  --instagram: #e1306c;
  --linkedin: #0077b5;
  --twitter: #1da1f2;
  --whatsapp: #25d366;
  --mastodon: #2C90DC;
  --youtube: #ff0000;
  --rss: #E99010;
}



$maroon: #85144b;
$red: #ff4136;
$orange: #ff851b;
$yellow: #ffdc00;
$olive: #3d9970;
$green: #2ecc40;
$lime: #01ff70;
$teal: #39cccc;
$aqua: #7fdbff;
$blue: #0073d8;
$navy: #001f3f;
$purple: #920ba6;
$fuchsia: #f012be;
$grey: #aaa;
$mercury-grey: #e5e5e5;
$silver: #ddd;


/**
Theme colors.
 */
$red: #e93737;
$light-red: #ec7070;
$coral: #fc7750;
$light-coral: #fea78d;
$deep-yellow: #f9c818;
$yellow: #f9dc4a;
$deep-green: #0a4343;
$teal-green: #237978;
$aqua: #1bc0d7;
$light-blue: #cbe0fb;
$sky-blue: #6bc8fe;
$azure: #0075ff;
$w3c-blue: #005a9c;
$blue: #005797;
$deep-blue: #024488;
$pink: #ddb0c8;
$light-pink: #eeccdc;
$storm-gray: #545454;
$twiki-gray: #bdbdbd;
$mist-gray: #f8f8fb;


/**
Sass variables.
 */
$border-color:                  $twiki-gray;
$input-border-color:            $storm-gray;
$focus-color:                   $yellow;

$link-color:                    $blue;
$link-color--visited:           $purple;
$link-color--hover:             $deep-blue;

$success-color:                 #046704;
$info-color:                    $w3c-blue;
$warning-color:                 #c28605;
$error-color:                   #a82615;

/// Social media colours that might be useful.
/// @see https://brandcolors.net/

