// ===========================================
// Comments
// ===========================================

.comment-respond {
  padding-top: 2rem;
}

.form-group {
  margin-bottom: 15px;

  > label {
    margin-bottom: 5px;
  }
}

.comment-form-cookies-consent {
  margin: 15px 0;
}
