// ======================================================
// Home Blog
// ======================================================

.home-blog__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.home-blog__item {
  margin: 1.5rem 0;
}
